<section>
    <div class="title-section title-partner">
        <h1 class="head-title">{{title}}</h1>
        <span class="title-tours">{{subTitle}}</span>
    </div>
    <div class="icons-container">
        <div class="icon-container">
            <div *ngFor="let partner of partners">
                <img src={{partner.image}} alt="trip">
            </div>
        </div>
        <!--  -->
        <div class="icon-containerr">
            <div *ngFor="let partner of partners">
                <img src={{partner.image}} alt="trip">
            </div>
        </div>
    </div>

</section>