<div class="title-section">
    <h4>{{title}}</h4>
</div>
<div class="para-box">
    <p>{{paragraph}}</p>
</div>
<div class="title-section title-2">
    <h4>{{title2}}</h4>
</div>
<div class="dash-table">
    <div class="table-head">
        <span>S.No</span>
        <span>Package Name</span>
        <span>Duration</span>
        <span>Price</span>
        <span>Details</span>
    </div>
    <div class="table-data" *ngFor="let tabledata of tabledata">
        <span>{{tabledata.id}}</span>
        <p class="tabledata-red">{{tabledata.packageName}}</p>
        <span>{{tabledata.duration}}</span>
        <span>{{tabledata.price}}</span>
        <button class="invoice-btn">View Invoice</button>
    </div>
</div>