<section>

    <div class="title-section">
        <h1 class="head-title">{{ title }}</h1>
        <span class="title-tours">{{ subtitle }}</span>
    </div>
    <div class="div-container2">
        <owl-carousel-o [options]="sliderthree">
            <ng-template carouselSlide *ngFor="let pack of packages">
                <img src="../../../assets/img/shutterstock_147744218.png" alt="slideimg1">
                <div class="img-title">
                    <p>{{ pack.title }}</p>
                    <div class="img-titles">
                        <span><i class="fas fa-star yellow"></i></span>
                        <span>{{ pack.review}} | {{pack.noOfReviews}} Reviews</span>
                        <div class="price">
                            <span>₹ {{ pack.price }}</span>
                            <span>₹ {{ pack.comparedPrice }}</span>
                        </div>
                    </div>
                    <button [routerLink]="pack.link" class="enquiry-btn">Enquiry Now</button>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>