<section>
    <div class="gallarycontainer2">
        <owl-carousel-o [options]="sliderone">
            <ng-template carouselSlide>
                <div class="div5">
                    <div class="div5-1">
                    </div>
                    <div class="div5-2">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="div6">
                    <h3>UPTO</h3>
                    <h1>70%</h1>
                    <p>OFF</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="div7">
                    <div class="div7-1">
                    </div>
                    <div class="div7-2">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="div8">
                    <h3>SPRING HI</h3>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
