
        <app-image-section title="Leh Ladakh Tour Packages"></app-image-section>
        <section>
        <app-table-section title="Leh Ladakh Tour Packages" paragraph="Take a bike ride to conquer each corner and nook in the magnificent Himalaya. Travellers from all over
        the world are on Leh Ladakh’s bike rides and are gaining popularity fast. Take a look at the natural
        beauty in the northern regions and the picturesque places linked by smooth and twisting paths. The
        Khardung La Pass, at 18,370 feet above sea level, is the highest path in the world, including the ride
        through a number of the steepest mountain ranges in India. If you’re a Biker,you won’t miss this
        exciting experience. The Delhi Leh Ladakh Bike Tour Packages is a dream trip for everyone who wants fun.
        Check out Leh Ladakh Motorcycle tour packages for an amazing bike ride to Ladakh to pedal through steep
        mountain passes and picturesque locations." title2="Popular Ladakh Bike Tour Packages" [tabledata]="tabledata"></app-table-section>
       </section>
       <app-product-carousel-section [noOfPackages]="noOfPackages" title="Some Title" subtitle="sub title" [packages]="homePackages"></app-product-carousel-section>
        <section>
            <app-packages-section title="Best Selling Leh Ladakh Tour Packages" [packages]="packages" comparePrice="From ₹ 19,999" price="₹ 15,999"></app-packages-section> 
        </section>
        <app-product-carousel-section [noOfPackages]="noOfPackages" title="Some Title" subtitle="sub title" [packages]="homePackages"></app-product-carousel-section>
        <app-product-carousel-section [noOfPackages]="noOfPackages" title="Some Title" subtitle="sub title" [packages]="homePackages"></app-product-carousel-section>
        <section>
            <app-location-tab-section [location]="location"></app-location-tab-section>
        </section>
        <app-blog-grid-section title="Some Title" subTitle="Sub Title" [blog]="blog"></app-blog-grid-section>
        <app-blog-grid-section title="Some Title" subTitle="Sub Title" [blog]="blog"></app-blog-grid-section>
        <app-location-box-section title="Some Title" subTitle="Sub Title" [locationBox]="locationBox"></app-location-box-section>
       <section>
           <app-review-section [review]="review" ></app-review-section>
       </section>    
       <section>
           <app-faq-section></app-faq-section>
       </section>
       <section>
        <app-location-tab-section [location]="location"></app-location-tab-section>
      </section>