<div class="bg-img">
    <img [src]="getCoverImage()" alt="image">
</div>
<div class="img-container">
    <div class="left-box">
        <h2>{{package.title}}</h2>
        <div class="social-box">
            <div *ngFor="let image of _albums; let i=index" (click)="open(i)">
                <p><i class="fas fa-images"></i>Images</p>
            </div>
            <div>
                <p><i class="fas fa-video"></i>{{video}}</p>
            </div>
        </div>

    </div>
    <div class="right-box">
        <div class="title-1">
            <div *ngFor="let h of package?.highlights?.split(',')">
                <p>{{h}}</p>
            </div>
        </div>
        <h3 class="right-box-title">{{package.title}}</h3>
        <div class="review-title">
            <span>
                <ngb-rating [(rate)]="package.review_points" [readonly]="true" [max]="5">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                {{ package.review_points}} | {{ package.review_count}} Reviews
            </span>
        </div>
        <div class="days-box">
            <span><i class="fas fa-sun"></i>{{package.days}}</span>
            <span><i class="fas fa-moon"></i>{{package.nights}}</span>
            <span><i class="fas fa-map-marker-alt"></i>{{ package.region ? package.region + ', ' + package.city :
                                                          package.city ? package.city + ', ' + package.state : 
                                                          package.state ? package.state + ', ' + package.country :
                                                          package.country ? package.country + ', ' + package.continent : 
                                                          package.continent
            }}</span>
        </div>
        <div class="city-tour-para">
            <p><i class="fas fa-check-circle"></i>City Tour</p>
            <p><i class="fas fa-check-circle"></i>City Tour</p>
            <p><i class="fas fa-check-circle"></i>City Tour</p>
        </div>
        <div class="tour-amount">
            <span class="compared">From ₹ <span class="crossed">{{package.compared_price}}</span></span>
            <span class="actual">₹ {{package.price_with_tax}}</span>
        </div>
    </div>
</div>