<section>
    <div class="title-section title-paradise">
        <h1 class="head-title">{{title}}</h1>
        <span class="title-tours">{{subTitle}}</span>
    </div>
    <div class="dotted-div">
        <div class="city-name" *ngFor="let locbox of locationBox">
            <p>{{locbox.t1}}</p>
            <p>{{locbox.t2}}</p>
            <p>{{locbox.t3}}</p>
            <p>{{locbox.t4}}</p>
            <p>{{locbox.t5}}</p>
            <p>{{locbox.t6}}</p>
            <p>{{locbox.t1}}</p>
            <p>{{locbox.t2}}</p>
            <p>{{locbox.t3}}</p>
            <p>{{locbox.t4}}</p>
            <p>{{locbox.t5}}</p>
            <p>{{locbox.t6}}</p>
        </div>
    </div>
</section>
