/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
    font-family: 'Gloss And Bloom';
    font-style: normal;
    font-weight: normal;
    src: local('Gloss And Bloom'), url('./assets/fonts/Gloss_And_Bloom.ttf') format('truetype'); 
}

html {
    body { margin: 0; font-family: "Montserrat"; }
}

.container {
    padding: 50px 0 10px 0;
}

.section-title {
    width: 100%;
    h1 {
        text-align: left;
        font: normal normal bold 30px/37px Montserrat;
        letter-spacing: 0px;
        color: #3A3A3A;
        opacity: 1;
        position: relative;
        padding-left: 5px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 3px;
            background: transparent linear-gradient(180deg, #FFA62E 0%, #EA4D2C 100%) 0% 0% no-repeat padding-box;
            border-radius: 23px;
            opacity: 1;
        }
    }
    h3 {
        text-align: left;
        font: normal normal normal 20px/24px Montserrat;
        letter-spacing: 0px;
        color: #969696;
        opacity: 1;
    }
}

.carousel {
    width: 100%;
}

.modal-class {
    .modal-dialog {
        width: 80%;
        height: 90%;
        margin: auto;
        .modal-content {
            background-color: transparent;
        }
    }
}