<!-- Footer Section -->
<footer>
    <div class="footer">
        <div class="footer-logo-img">
            <img class="footer-logo" src='assets/img/looogoo.png' alt="logo">
        </div>
        <div class="footer-container">
            <div class="footersec-1">
                <p>ABOUT PLANS2PICK</p>
                <p>ABOUT US</p>
                <p>CAREER</p>
                <p>REVIEWS</p>
                <p>BLOG</p>
                <p>TERMS & CONDITIONS</p>
                <p>PRIVACY POLICY</p>
            </div>
            <div class="footersec-2">
                <p>FOR VENDORS</p>
                <p class="mb">LIST YOUR ACTIVITIES</p>
                <p class="footer-para">FOR TRAVEL AGENTS</p>
                <p>SIGN UP AS AGENT</p>
                <p>AGENT LOGIN</p>
            </div>
            <div class="footersec-3">
                <p>TOP DESTINATION</p>
                <div class="footer-img">
                    <img src='assets/img/shutterstock_1788072622.png' alt="footerimg1">
                    <img src='assets/img/shutterstock_647526577.png' alt="footerimg2">
                    <img src='assets/img/shutterstock_720444505.png' alt="footerimg3">
                    <img src='assets/img/shutterstock_7649728211.png' alt="footerimg4">
                </div>
                <div class="footer-img2">
                    <img src='assets/img/photo-1447834353189-91c48abf20e111.png' alt="footerimg5">
                    <img src='assets/img/shutterstock_1477442188.png' alt="footerimg6">
                    <img src='assets/img/shutterstock_713063371.png' alt="footerimg7">
                    <img src='assets/img/shutterstock_772769227.png' alt="footerimg8">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <p class="copyright">&copy;2020 plans2pick.com All rights reserved.</p>
        <div class="socialmedia-logo">
            <img src='assets/img/whatsapp.png' alt="whatsapp">
            <img src='assets/img/instagram (3).png' alt="whatsapp">
            <img src='assets/img/001-facebook.png' alt="whatsapp">
            <img src='assets/img/013-twitter.png' alt="whatsapp">
            <img src='assets/img/010-linkedin.png' alt="whatsapp">
            <img src='assets/img/008-youtube.png' alt="whatsapp">
            <img src='assets/img/002-twitter.png' alt="whatsapp">
        </div>
    </div>  
</footer>