<div id="tour-package" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/tour-package/list-tour-package'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="tour-package-image mr-8 mr-sm-16"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="tourPackage.images.length > 0" [src]="tourPackage.images[0].url">
                    <img *ngIf="tourPackage.images.length === 0" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{tourPackage.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Tour Package
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Package Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-tour-package-button" [disabled]="tourPackageForm.invalid"
                *ngIf="pageType ==='new'" (click)="addTourPackage()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-tour-package-button"
                [disabled]="tourPackageForm.invalid || tourPackageForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveTourPackage()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="tour-package-form" [formGroup]="tourPackageForm" class="tour-package w-100-p"
                    fxLayout="column" fxFlex>

                    <mat-tab-group (selectedTabChange)="handleTabChange($event)">

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Package Title</mat-label>
                                    <input matInput placeholder="Package Title" name="title" formControlName="title"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>No. of Days</mat-label>
                                    <input matInput type="number" placeholder="No. of Days" name="days"
                                        formControlName="days" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>No. of Nights</mat-label>
                                    <input matInput type="number" placeholder="No. of Nights" name="nights"
                                        formControlName="nights" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Category</mat-label>
                                    <mat-select formControlName="category" required>
                                        <mat-option [value]="cat.id" *ngFor="let cat of categories">{{ cat.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-tab>

                        <mat-tab label="Location">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Continent</mat-label>
                                    <mat-select formControlName="continent">
                                        <mat-option *ngFor="let z of zones | zoneFilter : 'Continent'"
                                            [value]="z.id">
                                            {{z.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country">
                                        <mat-option *ngFor="let z of zones | zoneFilter : 'Country' : 'continent' : tourPackageForm.get('continent').value" [value]="z.id">
                                            {{z.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="state">
                                        <mat-option *ngFor="let z of zones | zoneFilter : 'State' : 'country' : tourPackageForm.get('country').value" [value]="z.id">
                                            {{z.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="city">
                                        <mat-option *ngFor="let z of zones | zoneFilter : 'City' : 'state' : tourPackageForm.get('state').value" [value]="z.id">
                                            {{z.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Region</mat-label>
                                    <mat-select formControlName="region">
                                        <mat-option *ngFor="let z of zones | zoneFilter : 'Region' : 'city' : tourPackageForm.get('city').value" [value]="z.id">
                                            {{z.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="More Info">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Ribbon Tag</mat-label>
                                    <input matInput type="text" placeholder="Ribbon Tag" name="ribbonTag"
                                        formControlName="ribbonTag">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList name="tags" formControlName="tags">

                                        <mat-chip *ngFor="let tag of tourPackage.tags" [removable]="true"
                                            (removed)="tourPackage.removeTag(tag, tourPackageForm.get('tags'))">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="tagList" [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="tourPackage.addTag($event, tourPackageForm.get('tags'))" />

                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Highlights</mat-label>

                                    <mat-chip-list #hltList name="tags" formControlName="highlights">

                                        <mat-chip *ngFor="let hlt of tourPackage.highlights" [removable]="true"
                                            (removed)="tourPackage.removeHighlights(hlt, tourPackageForm.get('highlights'))">
                                            {{hlt}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="hltList" [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="tourPackage.addHighlights($event, tourPackageForm.get('highlights'))" />

                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Aminities</mat-label>
                                    <mat-select formControlName="aminities" multiple>
                                        <mat-option *ngFor="let a of aminities" [value]="a.toLowerCase()">
                                            {{ a }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-checkbox formControlName="bookingForm">Booking Form</mat-checkbox>&nbsp;&nbsp;
                                <mat-checkbox formControlName="inquiryForm">Inquiry Form</mat-checkbox><br><br><br>
                                <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
                            </div>
                        </mat-tab>

                        <mat-tab label="Pricing">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Price (W/O Tax)</mat-label>
                                    <input matInput type="number" placeholder="Price" name="price"
                                        formControlName="price" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Percentage</mat-label>
                                    <input matInput type="number" placeholder="Tax %" name="taxPercent"
                                        formControlName="taxPercent">
                                    <mat-label matSuffix>%</mat-label>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Price (Incl. Tax)</mat-label>
                                    <input matInput type="number" placeholder="Price (Incl. Tax)" name="priceWithTax"
                                        formControlName="priceWithTax" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Compared Price</mat-label>
                                    <input matInput type="number" placeholder="Compared Price" name="comparedPrice"
                                        formControlName="comparedPrice">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Price Unit</mat-label>
                                    <input matInput type="text" placeholder="Price Unit" name="priceUnit"
                                        formControlName="priceUnit">
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Description">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <app-editor *ngIf="active == 4" formControlName="description">
                                </app-editor>
                            </div>
                        </mat-tab>

                        <mat-tab label="SEO" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Handle</mat-label>
                                    <span matPrefix>https://plans2pick.com/</span>
                                    <input matInput placeholder="Handle" name="handle" formControlName="handle"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Meta Title</mat-label>
                                    <input matInput placeholder="Meta Title" name="metaTitle"
                                        formControlName="metaTitle">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Meta Description</mat-label>
                                    <textarea matInput placeholder="Meta Description" name="metaDesc"
                                        formControlName="metaDesc" rows="5" maxlength="160">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Meta Keywords</mat-label>

                                    <mat-chip-list #keyList name="metaKeywords" formControlName="metaKeywords">

                                        <mat-chip *ngFor="let meta of tourPackage.metaKeywords" [removable]="true"
                                            (removed)="tourPackage.removeKeywords(meta, tourPackageForm.get('metaKeywords'))">
                                            {{meta}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="keyList" [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="tourPackage.addKeywords($event, tourPackageForm.get('metaKeywords'))" />

                                    </mat-chip-list>

                                </mat-form-field>


                            </div>
                        </mat-tab>

                        <mat-tab label="Package Images" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Choose file</mat-label>
                                    <input matInput
                                        [value]="selectedImages.length > 0 ? selectedImages.length + ' Images Selected' : 'Choose Images'"
                                        disabled>
                                    <button mat-icon-button matSuffix (click)="fileInput.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <input hidden (change)="uploadImages($event)" #fileInput type="file" id="file"
                                        accept=".png,.jpg" multiple="true">
                                </mat-form-field>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="tourPackage.images.length === 0" class="tour-package-image"
                                        fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media"
                                            [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of tourPackage.images">
                                        <div class="tour-package-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                            <button mat-icon-button matRipple class="remove-btn"
                                                (click)="removeImage(image.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                        <div class="cover-btn">
                                            <button *ngIf="tourPackageForm.get('coverImage').value !== image.id"
                                            mat-raised-button matRipple
                                            (click)="makeCoverImage(image.id)">
                                            Cover Image
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Itinerary" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="list-display">
                                    <div class="list-det" *ngFor="let iti of tourPackage.itinerary">
                                        <span class="list-title">
                                            <h2>{{ iti.title }}</h2>
                                            <button mat-mini-fab (click)="editItinerary(iti.id)"
                                                class="list-icon-button">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button mat-mini-fab (click)="deleteItinerary(iti.id)"
                                                class="list-icon-button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </span>

                                        <p [innerHTML]="iti.details"></p>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Itinerary Title</mat-label>
                                    <input matInput placeholder="Itinerary Title" name="itiTitle" [(ngModel)]="itiTitle"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>

                                <app-editor *ngIf="active == 7" [(ngModel)]="itiContent"
                                    [ngModelOptions]="{standalone: true}">
                                </app-editor>

                                <div class="list-actions">
                                    <button mat-raised-button class="clear-list-button" (click)="clearItinerary()"
                                        *ngIf="itiId !== '' && itiId !== null">
                                        <span>CLEAR</span>
                                    </button>
                                    <button mat-raised-button class="save-list-button" (click)="saveItinerary()"
                                        [disabled]="itiTitle === '' || itiContent === ''">
                                        <span>SAVE</span>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="FAQ" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="list-display">
                                    <div class="list-det" *ngFor="let f of tourPackage.faq">
                                        <span class="list-title">
                                            <h2>{{ f.ques }}</h2>
                                            <button mat-mini-fab (click)="editFAQ(f.id)" class="list-icon-button">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button mat-mini-fab (click)="deleteFAQ(f.id)" class="list-icon-button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </span>

                                        <p [innerHTML]="f.ans"></p>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>FAQ Question</mat-label>
                                    <input matInput placeholder="FAQ Question" name="faqQues" [(ngModel)]="faqQues"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>

                                <app-editor *ngIf="active == 8" [(ngModel)]="faqAns"
                                    [ngModelOptions]="{standalone: true}">
                                </app-editor>

                                <div class="list-actions">
                                    <button mat-raised-button class="clear-list-button" (click)="clearFAQ()"
                                        *ngIf="faqId !== '' && faqId !== null">
                                        <span>CLEAR</span>
                                    </button>
                                    <button mat-raised-button class="save-list-button" (click)="saveFAQ()"
                                        [disabled]="faqQues === '' || faqAns === ''">
                                        <span>SAVE</span>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Miscelaneous" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="list-display">
                                    <div class="list-det" *ngFor="let m of tourPackage.misc">
                                        <span class="list-title">
                                            <h2>{{ m.title }}</h2>
                                            <button mat-mini-fab (click)="editMisc(m.id)" class="list-icon-button">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button mat-mini-fab (click)="deleteMisc(m.id)" class="list-icon-button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </span>

                                        <p [innerHTML]="m.content"></p>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Misc Title</mat-label>
                                    <input matInput placeholder="Title" name="miscTitle" [(ngModel)]="miscTitle"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>

                                <app-editor *ngIf="active == 9" [(ngModel)]="miscContent"
                                    [ngModelOptions]="{standalone: true}">
                                </app-editor>

                                <div class="list-actions">
                                    <button mat-raised-button class="clear-list-button" (click)="clearMisc()"
                                        *ngIf="miscId !== '' && miscId !== null">
                                        <span>CLEAR</span>
                                    </button>
                                    <button mat-raised-button class="save-list-button" (click)="saveMisc()"
                                        [disabled]="miscTitle === '' || miscContent === ''">
                                        <span>SAVE</span>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Links" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="grid-display">
                                    <div class="grid-det" *ngFor="let l of tourPackage.link">
                                        <img class="grid-img" *ngIf="l.icon && l.icon !== ''" [src]="l.icon">
                                        <img class="grid-img" *ngIf="!l.icon || l.icon === ''"
                                            src="assets/images/ecommerce/product-image-placeholder.png">
                                        <span class="grid-title">
                                            <h3>{{ l.title }}</h3>
                                            <button mat-mini-fab (click)="editLink(l.id)" class="list-icon-button">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button mat-mini-fab (click)="deleteLink(l.id)" class="list-icon-button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </span>
                                        <span class="grid-url">
                                            <h5>https://plans2pick.com/{{ l.url }}</h5>
                                        </span>
                                    </div>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Link Title</mat-label>
                                    <input matInput placeholder="Link Title" name="linkTitle" [(ngModel)]="linkTitle"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>

                                <div class="form-link-icon">
                                    <img *ngIf="displayIcon && displayIcon !== ''" [src]="displayIcon">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Choose Icon</mat-label>
                                        <input matInput [value]="linkIcon ? linkIcon.name  : 'Choose Images'" disabled>
                                        <button mat-icon-button matSuffix (click)="iconInput.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                        <input hidden (change)="uploadLinkIcon($event)" #iconInput type="file" id="file"
                                            accept=".png,.svg">
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Link URL</mat-label>
                                    <input matInput placeholder="Link URL" name="linkUrl" [(ngModel)]="linkUrl"
                                        [ngModelOptions]="{standalone: true}">
                                </mat-form-field>

                                <div class="list-actions">
                                    <button mat-raised-button class="clear-list-button" (click)="clearLink()"
                                        *ngIf="linkId !== '' && linkId !== null">
                                        <span>CLEAR</span>
                                    </button>
                                    <button mat-raised-button class="save-list-button" (click)="saveLink()"
                                        [disabled]="linkTitle === '' || linkUrl === ''">
                                        <span>SAVE</span>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

<!-- <ng-template>
    <input type="file" (ngModelChange) = "uploadContentImage($event)">
</ng-template> -->