<section>
    <div class="destination-container">
        <div class="title-section destination">
            <h4>{{metaTitle}}</h4>
        </div>
        <div class="para-box">
            <p class="light"[innerHTML]="para1">
            </p>
            <p class="light">
              {{para2}}
            </p>
        </div>
        <div class="para-box">
            <div class="box-one">
                <span class="boxone-span">Departure & Return Location</span>
                <span class="boxone-span">John F.K. International Airport</span>
            </div>
            <div class="box-one">
                <span>Bedroom</span>
                <span>4 Bedroom</span>
            </div>
            <div class="box-one">
                <span>Bathroom</span>
                <span>2 Bathroom</span>
            </div>
            <div class="box-one">
                <span>Price Includes</span>
                <div class="hotel-fare">
                    <span><i class="fas fa-check-circle"></i>Air fares</span>
                    <span><i class="fas fa-check-circle"></i>Tour Guide</span>
                    <span><i class="fas fa-check-circle"></i>Entrance Fees</span>
                    <span><i class="fas fa-check-circle"></i>3 Nights Hotel Accomodation</span>
                    <span><i class="fas fa-check-circle"></i>
                        <p> All transportation in destination location</p>
                    </span>
                </div>
            </div>
            <div class="box-one">
                <span>Price Excludes</span>
                <div class="hotel-fare">
                    <span><i class="fas fa-times-circle"></i>Air fares</span>
                    <span><i class="fas fa-times-circle"></i>Air fares</span>
                    <span><i class="fas fa-times-circle"></i>Air fares</span>
                    <span><i class="fas fa-times-circle"></i>Air fares</span>
                </div>
            </div>
            <div class="box-one">
                <span>Complementaries</span>
                <div class="hotel-fare">
                    <span><i class="fas fa-check-circle"></i>Air fares</span>
                    <span><i class="fas fa-check-circle"></i>Tour Guide</span>
                    <span><i class="fas fa-check-circle"></i>Entrance Fees</span>
                    <span><i class="fas fa-check-circle"></i>3 Nights Hotel Accomodation</span>
                    <span><i class="fas fa-check-circle"></i>
                        <p> All transportation in destination location</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>