<div id="review" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/review/list-review'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="review-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="review.images[0]" [src]="review.images[0].url">
                    <img *ngIf="!review.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{review.reviewTitle}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Review
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Review Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-review-button" [disabled]="reviewForm.invalid"
                *ngIf="pageType ==='new'" (click)="addReview()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-review-button" [disabled]="reviewForm.invalid || reviewForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveReview()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="reviewForm" [formGroup]="reviewForm" class="review w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="rate">
                                    <ngx-star-rating formControlName="reviewPoints" [id]="'rating'"></ngx-star-rating>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Package</mat-label>
                                    <mat-select formControlName="referenceId">
                                        <mat-select-search [(ngModel)]="packageFilter"
                                            (ngModelChange)="filterPackages()" [ngModelOptions]="{standalone: true}">
                                        </mat-select-search>
                                        <mat-option *ngFor="let p of dispPkg" [value]="p.id">{{p.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Review Title</mat-label>
                                    <input matInput placeholder="Review Title" name="reviewTitle"
                                        formControlName="reviewTitle" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Review Content</mat-label>
                                    <textarea matInput placeholder="Review Content" name="reviewContent"
                                        formControlName="reviewContent" required></textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Review Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="reviewDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Reviewer Name</mat-label>
                                    <input matInput placeholder="Reviewer Name" name="reviewerName"
                                        formControlName="reviewerName" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Reviewer Title</mat-label>
                                    <input matInput placeholder="Reviewer Title" name="reviewerTitle"
                                        formControlName="reviewerTitle" required>
                                </mat-form-field>

                                <div class="form-link-icon">
                                    <img *ngIf="reviewerImageUrl && reviewerImageUrl !== ''" [src]="reviewerImageUrl">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Reviewer Image</mat-label>
                                        <input matInput [value]="reviewerImage ? reviewerImage.name  : 'Choose Image'"
                                            disabled>
                                        <button mat-icon-button matSuffix (click)="imgInput.click()">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                        <input hidden (change)="uploadReviewerImage($event)" #imgInput type="file"
                                            id="file" accept=".png,.jpg">
                                    </mat-form-field>
                                </div>


                            </div>

                        </mat-tab>

                        <mat-tab label="Review Images" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Choose file</mat-label>
                                    <input matInput
                                        [value]="selectedImages.length > 0 ? selectedImages.length + ' Images Selected' : 'Choose Images'"
                                        disabled>
                                    <button mat-icon-button matSuffix (click)="fileInput.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <input hidden (change)="uploadImages($event)" #fileInput type="file" id="file"
                                        accept=".png,.jpg" multiple="true">
                                </mat-form-field>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="review.images.length === 0" class="review-image" fxlayout="row"
                                        fxLayoutAlign="center center">
                                        <img class="media"
                                            [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of review.images">
                                        <div *ngIf="review.images.length > 0" class="review-image" fxlayout="row"
                                            fxLayoutAlign="center center">
                                            <img class="media" [src]="image">
                                            <button mat-icon-button matRipple class="remove-btn"
                                                (click)="removeImage(image.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>