<!-- <section>
    <div class="navbar-container">
        <div class="navbar-box">
            <div class="nav-bar">
                <h3 *ngFor="let n of nav">{{n.title}}</h3>
                <div>
                    <h3>Details</h3>
                    <div class="login-border"></div>
                </div>
                <div>
                    <h3>Itinerary</h3>
                    <div class="login-border"></div>
                </div>
                <div>
                    <h3>Photos</h3>
                    <div class="login-border"></div>
                </div>
                <div>
                    <h3>Reviews</h3>
                    <div class="login-border"></div>
                </div>
                <div>
                    <h3>FAQ</h3>
                    <div class="login-border"></div>
                </div>
            </div>


            <div class="title-section">
                <h4>{{title}}</h4>
            </div>
            <div #review class="review-title margin">
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>5.0 | 40 Reviews</span>
            </div>
            <div class="tour-details margin">
                <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                <span><i class="fal fa-plane-departure"></i>Airport Pickup</span>
                <span><i class="fas fa-wifi"></i>Wi-Fi Available</span>
            </div>
            <div class="title-section top-review">
                <h4>Top Reviews</h4>
                <span>View All</span>
            </div>
            <div class="reviews-container">
                <div class="review-container" *ngFor="let r of review">
                    <img src='assets/img/Ellipse 202.png' alt="review">
                    <p class="review-name">{{r.title}}</p>
                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                    <p class="review-title">{{r.subtitle}}</p>
                    <span class="review-para">{{r.para}}</span>
                    <span class="readmore">Read Less</span>
                </div>
            </div>
        </div>
        <div class="enquiry-box">
            <div class="enquiry-price">
                <span>{{price1}}</span>
                <span>{{price2}}</span>
            </div>
            <div>
                <input type="text" placeholder="Name" />
            </div>
            <div>
                <input type="text" placeholder="Email">
            </div>
            <div>
                <input type="text" placeholder="Enter Your Mobile Number">
            </div>
            <div>
                <input type="text" placeholder="Travel Date">
            </div>
            <div>
                <input type="text" placeholder="No of People">
            </div>
            <div>
                <textarea name="yourenquiry" id="yourenquiry" placeholder="Your Enquiry..."></textarea>
            </div>
            <div class="enqbtn-box">
                <button class="enq-btn">Enquiry Now</button>
            </div>
        </div>
    </div>
</section> -->