<div id="category" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/categories/list-category'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="category-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="category.images[0]" [src]="category.images[0].url">
                    <img *ngIf="!category.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{category.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Category
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Category Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-category-button" [disabled]="categoryForm.invalid"
                *ngIf="pageType ==='new'" (click)="addCategory()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-category-button"
                [disabled]="categoryForm.invalid || categoryForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveCategory()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="categoryForm" [formGroup]="categoryForm" class="category w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Category Name</mat-label>
                                    <input matInput placeholder="Category Name" name="name" formControlName="name"
                                        required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Category Description</mat-label>
                                    <textarea matInput placeholder="Category Description" name="description"
                                        formControlName="description" rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList name="tags" formControlName="tags">

                                        <mat-chip *ngFor="let tag of category.tags" [removable]="true"
                                            (removed)="category.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="tagList" [matChipInputAddOnBlur]="true"
                                            (matChipInputTokenEnd)="category.addTag($event)" />

                                    </mat-chip-list>

                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Category Images" *ngIf="pageType === 'edit'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Choose file</mat-label>
                                    <input matInput [value]="selectedImages.length > 0 ? selectedImages.length + ' Images Selected' : 'Choose Images'" disabled>
                                    <button mat-icon-button matSuffix (click)="fileInput.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <input hidden (change)="uploadImages($event)" #fileInput type="file" id="file" accept=".png,.jpg" multiple="true">
                                </mat-form-field>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="category.images[0].id === null" class="category-image" fxlayout="row"
                                        fxLayoutAlign="center center">
                                        <img class="media"
                                            [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of category.images">
                                        <div *ngIf="category.images[0].id" class="category-image" fxlayout="row"
                                            fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                            <button mat-icon-button matRipple class="remove-btn" (click) = "removeImage(image.id)"><mat-icon>delete</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>