
    <app-home-slider title="We Plan, You Pick!" subtitle="Find Excitement Wherever You May Roam" [headerContent]="headerContent" ></app-home-slider>
    <app-home-initial-section></app-home-initial-section>
    <app-home-carousel-section></app-home-carousel-section>     
    <app-favourite-section title="Some Title" [favourite]="favourite"></app-favourite-section>
    <app-product-carousel-section [noOfPackages]="noOfPackages" title="Some Title" subtitle="sub title" [packages]="homePackages"></app-product-carousel-section>
    <app-location-carousel-section title="Some Title" [locationCarousel]="locationCarousel"></app-location-carousel-section>
     <app-location-tabs-section [locationTab]="locationTab" title="Some Title" subTitle="sub Title" [locationDetails]="locationDetails"></app-location-tabs-section>
     <app-location-box-section title="Some Title" subTitle="Sub Title" [locationBox]="locationBox"></app-location-box-section>
     <app-blog-grid-section title="Some Title" subTitle="Sub Title" [blog]="blog"></app-blog-grid-section>
     <app-home-video-section></app-home-video-section>
     <app-review-grid-section title="Customer Review" [review]="review"></app-review-grid-section>
     <app-partners-grid-section title="Title" subTitle="Sub Title" [partners]="partners"></app-partners-grid-section>
     <app-instagram-section title="See Our Social" subTitle="Sub title" [instagram]="instagram"></app-instagram-section>


